.profile__subheading {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #fff;

  margin: 0;
  padding: 0;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 336px;
}

@media screen and (max-width: 1279px) {
  .profile__subheading {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-right: 28px;

    max-width: 282px;
  }
}
