.gallery__like-button {
  min-width: 22px;
  min-height: 19px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-size: 22px 19px;

  background-image: url(../../../images/like-button.svg);
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;

  transition: opacity 0.3s ease;
}

.gallery__like-button:hover {
  opacity: 0.5;
}
